*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-color: black;
	font-family: Arial;
http://localhost:8080/do-an/hinh-anh/icons/person.png}
#container{
	width: 1200px;
	margin: 0px auto;
}
#header{
	background-color: white;
	height: 120px;
	margin: 0px auto;
}
#banner{
	height: 80px;
	width: 1200px;
}
#banner img{
	height: 80px;
	width: 300px;
	float: left;
}

.search-box{
	margin-left: 100px;
	margin-top: auto;
	float: left;
	width: 450px;
	height: 80px;
	background-color: white;
	text-align: center;

}
.search-box input{
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	transition: .5s;
}
.search-box input[type=text]{
	margin-top: 40px;
	border-radius: 25px 0 0 25px;
	width: 300px;
	height: 30px;
	padding-left: 50px;
	color: #3270d3;
	border: none;
	outline: none;
	background-color: #C6E2FF;

}
.search-box input[type=submit]{
	width: 80px;
	height: 30px;
	position: relative;
	left: -5px;
	border-radius: 0 25px 25px 0;
	background-color: #3270d3;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	opacity: 0.9;
	transition: 0.5s;
}
.search-box input[type=submit]:hover{
	background-color: orange;
	color: white;
}
#gio-hang img{
	margin-top: 20px;

}
#gio-hang img:hover{
	transform: scale(1.2);
	transition: 0.5s;
}
#gio-hang a{
	text-transform: uppercase;
	text-decoration: none;
	color: #3270d3;

}

#sdt{
	width: 200px;
	height: 80px;
	background-color: white;
	color: #3270d3;
	font-size: 12px;
	float: left;
}
#sdt p{
	margin-left: 15px;		
}
#login{
	position: relative;
	display: inline-block;
	width: 70px;
	height: 80px;
	z-index: 11;
}
#login span{
	color: #3270d3;
}
.login-buton{
	margin-top: 20px;
	background-color: transparent;
	color: #3270d3;
	padding:15px;
	font-size: 15px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 1s;
}
.login-buton:hover{
	transform: scale(1.5);
}
.dropdown-login{
	font-size: 13px;
	display: none;
	position: absolute;
	background-color: #3270d3;
	min-width: 70px;
	z-index: 11;
}
.dropdown-login a{
	color: darkred;
}
.dropdown-login a:hover {
	color: yellow;
}
#login:hover .dropdown-login{
	display: block;
}
#login:hover .login-buton{
	background-color: transparent;

}

/*==Menu==*/
#menu{
	width: 1200px;
	height: 39px;
	float: left;
	margin-top: 0px;
}
#menu ul{
	list-style-type: none;
	background-color: #3270d3; 
	text-align: center;
}
#menu ul li{
	display: inline-table;
	height: 40px;
	line-height: 40px;
	width: 160px;
	text-transform: uppercase;
	position: relative;
	font-size: 15px;
	z-index: 10;
}
#menu ul a{
	text-decoration: none;
	color: white;
	display: block;
	transition: 1s;
}
#menu ul a:hover{
	background-color: orange;
	color: white;
	transform: scale(0.9);


}
#menu ul li>.sub-menu{
	display: none;
	position: absolute;
}
#menu ul li:hover .sub-menu{
	display: block;
	background-color: #3270d3;
	color: white;
	opacity: 0.8;
}
#content{
	background-color: white;
	width: 1200px;
	float: left;
}
#img-sp{
	cursor: pointer;
}
#img-sp img{
	position: 2;
	transition: 0.5s;
/*			border-right: 1px solid orange;
border-bottom: 1px solid orange;*/
}
#img-sp img:hover{
	width: 450px;
	height: 500px;
/*			border-right: 2px solid green;
			border-bottom: 2px solid green;
			*/
		}
		.danh-muc{
			margin-top: 20px;
			height: 50px;
			width: 1200px;
			background-color: #3270d3;
			color: white;
			text-transform: uppercase;
			font-size: 20px;	
			line-height: 50px;
			float: left;
		}
		.danh-muc span{
			margin-left: 20px;
		}

		.sp-moi{
			position: relative;
			width: 290px;
			height: 350px;
			background-color: white;
			float: left;
			text-align: center;
			margin: 5px 5px;
			border: 1px solid white;
			outline: none;
			/*			border-radius: 10px;*/
			overflow: hidden;
			z-index: 6;
		}
		.sp-moi:hover{
			/*transform: scale(1.1);*/
			background-color: white;
			border: none;
			outline: none;
			cursor: pointer;
			/*			border: 1px solid #3270d3;*/
			box-shadow: 0px 5px 5px 0px #3270d3  ;
		}	

		.sp-moi img{
			margin-left: 10px;
			margin-right: 10px;
			transition: 2s;
			z-index: 5;
		}
		.sp-moi img:hover{
			transform: scale(0.8);
		}
		.sp-moi a{
			text-decoration: none;
		}		
		.sp-moi a .ten-sp{
			text-decoration: none;
			color: #3270d3;
		}		
		.sp-moi a .gia-sp{
			text-decoration: none;
			color: red;
		}	


		.sp-moi img{
			margin-left: 10px;
			margin-right: 10px;
			transition: 2s;
			z-index: 5;
		}
		.sp-moi img:hover{
			transform: scale(0.8);
		}
		.sp-moi a{
			text-decoration: none;
		}		
		.sp-moi a .ten-sp{
			text-decoration: none;
			color: #3270d3;
		}		
		.sp-moi a .gia-sp{
			text-decoration: none;
			color: red;
		}	

		.text-sp-moi{
			font-size: 15px;
			padding-right: 20px;
			padding-left: 20px;
			padding-top: 20px;
			position: absolute;
			width: 280px;
			height: 300px;
			background: #eb0000;
			margin-top: -80%;
			right: 95%;
			transition: 1s;
			z-index: 5;
			border-radius: 0px 25px 0px 25px;
		}	
		.text-sp-moi:hover{
			padding-left: 20px;
			padding-right: 20px;
			color: white;
			background-color: black;
			display: inline-block;
			cursor: pointer;
			right: 10px;
			opacity: 0.5;
			border: none;
			float: left;

		}


		/*//spkm*/

		.sp-km{
			position: relative;
			width: 290px;
			height: 350px;
			background-color: white;
			float: left;
			text-align: center;
			margin: 5px 5px;
			outline: none;
			/*			border-radius: 10px;*/
			overflow: hidden;
			z-index: 6;
		}
		.sp-km:hover{
			/*transform: scale(1.1);*/
			background-color: white;
			border: none;
			outline: none;
			cursor: pointer;
			/*			border: 1px solid #3270d3;*/
			box-shadow: 0px 5px 5px 0px #3270d3  ;
		}	

		.sp-km img{
			margin-left: 10px;
			margin-right: 10px;
			transition: 2s;
			z-index: 5;
		}
		.sp-km img:hover{
			transform: scale(0.8);
		}
		.sp-km a{
			text-decoration: none;
		}		
		.sp-km a .ten-sp{
			text-decoration: none;
			color: #3270d3;
		}		
		.sp-km a .gia-sp{
			text-decoration: none;
			color: red;
		}	

		.text-sp-km{
			float: left;
			font-size: 15px;
			padding-right: 20px;
			padding-left: 20px;
			padding-top: 20px;
			position: absolute;
			width: 280px;
			height: 300px;
			background: #eb0000;
			top:5%;
			right:95%;
			transition: 1s;
			z-index: 6;
			border-radius: 0px 25px 0px 25px;
		}	
		.text-sp-km:hover{
			padding-left: 20px;
			padding-right: 20px;
			color: white;
			background-color: black;
			display: inline-block;
			cursor: pointer;
			right: 10px;
			opacity: 0.5;
			border: none;

		}


		// san pham ban chay

		.sp-bc{
			position: relative;
			background: white;
			width: 290px;
			height: 350px;
			text-align: center;
			float: left;
			z-index: 6;
			overflow: hidden;
			border: 1px solid tomato;
		}


		.sp-bc:hover{
			/*transform: scale(1.1);*/
			background-color: white;
			border: 0px;
			outline: none;
			cursor: pointer;
			box-shadow: 0px 5px 5px 0px #3270d3  ;
		}	

		.sp-bc img{
			margin-left: 0px;
			margin-right: 0px;
			transition: 2s;
			z-index: 4;
		}
		.sp-bc img:hover{
			transform: scale(0.8);
		}
		.sp-bc a{
			text-decoration: none;
		}		
		.sp-bc a .ten-sp{
			text-decoration: none;
			color: #3270d3;
		}		
		.sp-bc a .gia-sp{
			text-decoration: none;
			color: red;
		}	

		.text-sp-bc{
			position: absolute;
			background: #eb0000;
			height: 300px;
			width: 290px;
			margin-top: -85%;
			left: -95%;
			z-index: 5;
			float: left;
			border-radius: 0px 25px 0px 25px;
			transition: 1s;
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
			
		}	
		.text-sp-bc:hover{
			padding-right: 0px;
			color: white;
			background-color: black;
			display: inline-block;
			cursor: pointer;
			left: 0px;
			opacity: 0.5;
			border: none;
			padding-right: 20px;

		}

		//phu kien gia tot

		.sp-km{
			position: relative;
			width: 290px;
			height: 350px;
			background-color: white;
			float: left;
			text-align: center;
			margin: 5px 5px;
			border: 1px solid white;
			outline: none;
			/*			border-radius: 10px;*/
			overflow: hidden;
			border: 1px solid tomato;
			z-index: 6;
		}

		.pk-gt:hover{
			/*transform: scale(1.1);*/
			background-color: white;
			outline: none;
			cursor: pointer;
			border: none;
			box-shadow: 0px 5px 5px 0px #3270d3  ;
		}	

		.pk-gt img{
			margin-left: 0px;
			margin-right: 0px;
			transition: 2s;
			z-index: 4;
		}
		.pk-gt img:hover{
			transform: scale(0.8);
		}
		.pk-gt a{
			text-decoration: none;
		}		
		.pk-gt a .ten-sp{
			text-decoration: none;
			color: #3270d3;
		}		
		.pk-gt a .gia-sp{
			text-decoration: none;
			color: red;
		}	

		.text-pk-gt{
			position: absolute;
			background: #eb0000;
			height: 350px;
			width: 290px;
			margin-top: -100%;
			left: -95%;
			z-index: 5;
			float: left;
			border-radius: 0px 25px 0px 25px;
			transition: 1s;
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;

			
		}	
		.text-pk-gt:hover{
			padding-right: 0px;
			color: white;
			background-color: black;
			display: inline-block;
			cursor: pointer;
			left: 0px;
			opacity: 0.5;
			border: none;
			padding-right: 20px;

		}

		
		//ket thuc danh muc//
		.sp{
			border: 1px solid tomato;
			outline: none;
			transition: 1s;
		}
		.sp:hover{
			box-shadow: 0px 5px 5px 0px #3270d3;
			background-color: white;
			border: none;
			outline: none;
			cursor: pointer;

		}
		.sp img{
			margin-left: 10px;
			margin-right: 10px;
			transition: 1s;
		}
		.sp img:hover{
			transform: scale(.8);
			
		}
		.sp a{
			text-decoration: none;
		}	
		.sp a .ten-sp{
			text-decoration: none;
			color: #3270d3;
		}		
		.sp a .gia-sp{
			text-decoration: none;
			color: red;
		}	


		.text-sp{
			font-size: 15px;
			padding-right: 20px;
			padding-left: 20px;
			padding-top: 20px;
			position: absolute;
			width: 280px;
			height: 300px;
			background: #eb0000;
			margin-top: -80%;
			right: 95%;
			transition: 1s;
			z-index: 5;
			border-radius: 0px 25px 0px 25px;
		}	
		.text-sp:hover{
			padding-left: 20px;
			padding-right: 20px;
			color: white;
			background-color: black;
			display: inline-block;
			cursor: pointer;
			right: 10px;
			opacity: 0.5;
			border: none;
			float: left;

		}

		//chi tiet san pham

		#mota{
			width: 300px;
			height: 200px;
			background-color: blue;
			float: left;
		}
		#btn-rating{
			width: 40px;
			height: 10px;
		}

		#btn-muahang{
			border: none; /* Remove borders */
			color: white; /* Add a text color */
			padding: 18px 50px; /* Add some padding */
			cursor: pointer; /* Add a pointer cursor on mouse-over */
			background-color: darkred;
		}
		#btn-muahang:hover {background: red;}
		#btn-them-gh {
			border: 2px solid black;
			background-color: white;
			color: black;
			padding: 15px 28px;
			font-size: 16px;
			cursor: pointer;
			border-color: #f44336;
			color: red
		}
		#btn-them-gh:hover {
			background: red;
			color: white;
		}
		a{
			text-decoration: none;
		}

		#footer{
			background-color: #3270d3 ;
			height: 60px;
			width: 1200px;
			padding: 0px auto;
			float: left;
			margin: 0px auto;
		}